@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");

body {
  font-family: Archivo, sans-serif;
}

/* container ---------- */
.container {
  margin-top: 10px;
}
/*--------------------- topbar css -------------------*/
.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.topRight {
  display: flex;
  align-items: center;
  /* background-color: red; */
  margin-right: 20px;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  color: darkblue;
  letter-spacing: 1px;
}

.topbarIconContainer {
  /* background-color: blue; */
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  color: blue;
}

.topIconBadge {
  position: absolute;
  top: -10px;
  right: -4px;
  color: white;
  border-radius: 50%;

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  padding: 4px;
}

.topAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid black;
  margin-bottom: 10px;
}

/* sidebar css ------------------------------------------- */
.container {
  display: flex;
}

.sidebar {
  flex: 1;
  /* background-color: red; */
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  /* background-color: grey; */
  padding: 20px;
}

.sidebarMenu {
  margin-bottom: 6px;
}

.sidebarTitle {
  font-size: 17px;
  color: black;
  letter-spacing: 2px;
}

.sidebarList {
  list-style-type: none;
  /* background-color: yellow; */
  margin-left: -15px;
  padding: 5px;
  margin-top: -10px;
}
.sidebarListItem {
  /* background-color: green; */
  padding: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 8px;
  width: 80%;
}

.sbicon {
  margin-right: 8px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: skyblue;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* PAGES CSS ----------------------------------- */
/*  HOME PAGE -------------------------- */
.home {
  flex: 4;
  /* background-color: lightgray; */
}

/* featuredInfo */
.featured {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.featuredItem {
  flex: 1;
  margin: 10px 20px;
  /* background-color: pink; */
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
}

.featuredTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.featuredMoneyContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.featuredMoney {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.featuredMoneyRate {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.featuredIcon {
  color: green;
  font-size: 40px !important;
  margin-left: 10px;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  color: grey;
  font-size: 20px;
}

/* Chart CSS -------------------------- */
.chart {
  margin: 15px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
}

.chartTitle {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 1px;
}

/*  Home Widgets ---------------------- */
.homeWidgets {
  display: flex;
  margin: 20px;
}

/*  Widget Small ---------- */
.widgetSm {
  flex: 1;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  padding: 20px;
  margin-right: 20px;
}

.widgetSmList {
  margin: 5px;
  list-style-type: none;
  padding: 10px 0 0 0;
  /* background-color: blue; */
}

.widgetSmTitle {
  font-size: 25px;
  font-weight: bold;
}

.widgetSmImage {
  height: 50px;
  border-radius: 90%;
  object-fit: cover;
  width: 50px;
}

.widgetSmListItem {
  /* background-color: yellow; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.widgetSmUser {
  display: flex;
  flex-direction: column;
}

.widgetSmUsername {
  font-weight: 800;
  margin-bottom: 2px;
}

.widgetSmUserTitle {
  font-weight: 400;
}

.widgetSmButton {
  display: flex;
  align-items: center;
  background-color: #eeeef7;
  padding: 7px 10px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}

.widgetSmIcon {
  margin-right: 10px;
}

/* Widget Large ---------------- */
.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  padding: 20px;
}

.widgetLgTitle {
  font-size: 25px;
  margin: 0;
  letter-spacing: 1px;
}

.widgetLgImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.widgetLgButton {
  padding: 10px;
  border: none;
  border-radius: 50px;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 100;
}

.widgetLgButton.Approved {
  background-color: #00ffd1;
  color: green;
  font-weight: 500;
}
.widgetLgButton.Declined {
  background-color: #f5edce;
  color: black;
  font-weight: 500;
}
.widgetLgButton.Pending {
  background-color: #f5f5dc;
  color: purple;
  font-weight: 500;
}

/* User List Page ------------------- */

.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: None;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #e3acf9;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
}

.userListDelete {
  color: #dc0000;
  cursor: pointer;
}

/* Single User page ------------- */
.user {
  flex: 4;
  padding: 20px;
}

.userTitle {
  font-weight: 900;
  letter-spacing: 1px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  /* width: 100px; */
  border: none;
  padding: 10px 20px;
  background-color: #46c2cb;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #3d1766;
  margin-right: 40px;
}

.userContainer {
  display: flex;
  margin-top: 10px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}

.userShowUserTitle {
  font-weight: 400;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.userShowInfoTitle {
  margin-left: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}

.userUpdateImg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userUpdateTitle {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.userUpdateItem > label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.userUpdateInput {
  border: none;
  height: 50px;
  width: 250px;
  border-bottom: 1px solid gray;
  margin-top: 5px;
  font-size: 15px;
}

/* Update User - Right section */

.userUpdateRight {
  display: flex;
  margin-right: 20%;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateIcon {
  font-size: 40px !important;
  margin-top: 10px;
}

.userUpdateButton {
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-size: 20px;
  margin-top: 70%;
}

/* New User Page -------------------------------- */

.newUser {
  flex: 4;
}

.newUserTitle {
  letter-spacing: 1px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserItem {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: grey;
}

.newUserItem > input {
  height: 25px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
}

.newUserGender > input {
  margin: 5px;
  font-size: 20px;
  margin-right: 10px;
}

.newUserGender > label {
  margin-right: 20px;
}

.newUserSelect {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  color: grey;
}

.newUserButton {
  background-color: darkblue;
  padding: 20px;
  width: 200px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}

/* Products Page ------------------------- */
.productList {
  flex: 4;
}

.productListUser {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.productListImg {
  width: 60px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: None;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #e3acf9;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
}

.productListDelete {
  color: #dc0000;
  cursor: pointer;
}

/* Single Product Page -------------- */
.product {
  flex: 4;
  padding: 20px;
  /* background-color: red; */
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 10px;
  background-color: teal;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.productTop {
  display: flex;
}

.productTopLeft {
  flex: 1;
}

.productTopRight {
  flex: 1;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  display: flex;
  justify-content: space-around;
}

.productInfoImage {
  height: 175px;
  width: 170px;
  /* border-radius: 50%; */
  object-fit: cover;
}

.productInfoTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 20px;
}

.productName {
  font-weight: 700;
  font-size: 14px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.productInfoKey {
  font-weight: 700;
  letter-spacing: 1px;
}

.productInfoBottom {
  margin-top: 12%;
  margin-right: 5%;
}

.productInfoValue {
  font-size: 20px;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  -moz-box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
  box-shadow: 0px 3px 5px 10px rgba(69, 68, 69, 1);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: grey;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.productFormLeft > select {
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30%;
}

.productUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.productButton {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: darkblue;
  font-weight: 600;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
}

/* New Product Page ----------------------------- */
.newProduct {
  flex: 4;
}

.newProductTitle {
  letter-spacing: 1px;
}

.newProductForm {
  display: flex;
  flex-wrap: wrap;
}

.newProductItem {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.newProductItem > label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: grey;
}

.newProductItem > input {
  height: 25px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
}

.newProductActive > input {
  margin: 5px;
  font-size: 20px;
  margin-right: 10px;
}

.newProductActive > label {
  margin-right: 20px;
}

.newProductSelect {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  color: grey;
}

.newProductButton {
  background-color: darkblue;
  padding: 20px;
  width: 200px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 2px;
}

/* Login Page ------------------------ */
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.loginHeader {
  font-size: 60px;
  color: purple;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.loginInput {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 15px;
  font-weight: 400;
}

.loginButton {
  padding: 10px;
  font-size: 25px;
  border: none;
  letter-spacing: 2px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
